<div class="container">

  <div class="disclaimer add-bottom">
    Paid for by Democracy for America and not authorized by any candidate. Contributions to Democracy for America are not tax deductible for federal income tax purposes.
  </div>
  <div class="contact add-bottom">
    <strong><span>Democracy for America</span> | <span>PO Box 1717</span> | <span>Burlington, VT 05402</span>
    <br><span>Phone: 802-651-3200</span> | <span>Fax: 802-651-3299</span></strong>
    <br>
    <br><span>Copyright &copy;2015-<%= Date.current.year %> Democracy for America,</span> <span>All Rights Reserved</span>
  </div>
  <div class="dfa_credit">
<% if false %>
<!-- 
     The license for this app stipulates that one of the following logo images and the surrounding link be 
      included in the application and be visible to the site visitor in the footer.  
      It's not to be hidden by any means or reduced in size. 

      Three logos variants are provided so that there's an option to assure visibility against a variety of background colors or patterns.

      Use the white logo against dark footer backgrounds, 
        use the black logo for light backgrounds, or
        use the full color variant for white or very pale backgrounds
 -->
    <a href="http://www.democracyforamerica.com">WEBSITE POWERED BY <%= image_tag 'dfa-logo-white.png', alt: 'Democracy for America', style: 'vertical-align: middle;' %></a>
    <a href="http://www.democracyforamerica.com">WEBSITE POWERED BY <%= image_tag 'dfa-logo-black.png', alt: 'Democracy for America', style: 'vertical-align: middle;' %></a>
    <a href="http://www.democracyforamerica.com">WEBSITE POWERED BY <%= image_tag 'dfa-logo-color.png', alt: 'Democracy for America', style: 'vertical-align: middle;' %></a>
<% end %>
    <a href="http://www.democracyforamerica.com">WEBSITE POWERED BY <%= image_tag 'dfa-logo-color.png', alt: 'Democracy for America', style: 'vertical-align: middle;' %></a>
  </div>
</div>