<div class="container">

  <% if @poll.end_voting %>
  <% else %>
    <p style="text-align: center;"><a href="http://act.democracyforamerica.com/sign/progressive_poll_2016/" style="color: #049;">Having trouble using the site? <span style="border-bottom: dashed 1px #049;">Click here</span>.</a></p>
  <% end %>

  <div class="disclaimer add-bottom">
    Paid for by Democracy for America and not authorized by any candidate. Contributions to Democracy for America are not tax deductible for federal income tax purposes.
  </div>
  <div class="contact add-bottom">
    <strong><span>Democracy for America</span> | <span>PO Box 1717</span> | <span>Burlington, VT 05402</span>
    <br><span>Phone: 802-651-3200</span> | <span>Fax: 802-651-3299</span></strong>
    <br>
    <br><span>Copyright &copy;2014 Democracy for America,</span> <span>All Rights Reserved</span>
  </div>
</div>